@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  background-color: #1f2937;
  margin: 0px;
  padding: 0px;
}

li, a, button, main, footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.5s ease 0s;
}

.nav__links li a:hover {
  color: #96b0e2;
}

main {
  display: flex;
  flex-direction: column;
  padding: 5% 15%;
}

button {
  padding: 9px 25px;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1f2937;
}