@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  background-color: #1f2937;
  margin: 0px;
  padding: 0px;
}

li, a, button, main, footer {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 15%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style-type: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  font-weight: 400;
}

.nav__links li a {
  transition: all 0.5s ease 0s;
}

.nav__links li a:hover {
  color: #96b0e2;
}

main {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #1f2937;
  padding: 5% 10%;
}

.left-side {
  display: flex;
  text-align: start;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}

.cta-button {
  margin: 10px 0px;  
}
.right-side {
  display: flex;
  padding: 120px; 
  background: #6d747d;
  border: none;
}

.right-side p {
  display: flex;
  align-items: center;
  text-align: center;
  background: #6d747d;  
}

.random-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  background: #ffffff;
  padding: 60px;
  padding-top: 30px;
}

.container {
  display: flex;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
}

.info-header { 
  display: flex;
  background: #ffffff;
  justify-content: center;
  padding-bottom: 20px;
}

.info-header h2 {
  background: #ffffff;
  color: #1f2937;
}

.text {
  background: #ffffff;
  color: #67707c;
  padding: 5% 0%;
  text-align: center;
}

.container-direction {
  display: flex;
  background: #ffffff;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
}

.container {
  max-width: 175px;
  margin: 0px 10px;
}

.box {
  box-sizing: border-box;
  padding: 80px;
  background-color: #ffffff;
  border: solid 4px #3882F6;
  border-radius: 10px;
}

.thor-quotation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #E5E7EB;
  color: #1f2937;
  padding: 10% 10%;
}

.thor-quotation p {
  background: #E5E7EB;
  text-align: left;
  font-style: italic;
  font-size: 36px;
  font-weight: 300;  
}

.thor-quotation h3 {
  background: #E5E7EB;
  text-align: right;
  font-weight: bolder;
  font-size: 36px;
}

.cta-container {
  align-items: center;
  background: #ffffff;
  padding: 5% 10%;
}

.cta {
  display: flex;
  background: #3882F6;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0%;
  border-radius: 10px;
}

.call {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #3882F6;
  color: #F9FAF8;
}

.call h2 {
  background: #3882F6;
  color: #F9FAF8;
}

.call p {
  background: #3882F6;
  color: #F9FAF8;
}

.another-button {
  background-color: #3882F6;
}

.another-button button {
  padding: 9px 25px;
  background-color: #3882F6;
  border: solid 2px #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

button {
  padding: 9px 25px;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1f2937;
  padding: 50px;
}